small, 
#tagline, 
#cmtswitcher,
.comment .date, 
.trackback .date, 
.comment .act, 
.trackback .act, 
#submit, 
.more-link, 
.messagebox, 
.errorbox, 
#menus li a, 
.post .date, 
.post .under, 
.post .author, 
.post .editpost, 
.post .readingblinds, 
.post .comments, 
.post .addcomment, 
.post .editlinks, 
.post .addlink, 
#pagenavi, 
#footer, 
#respond, 
#commentnavi, 
#submitbox #submit,
#sidebar #followme {
	font-size:12px;
}

#cmtswitcher .addcomment, 
#cmtswitcher .addtrackback{
	font-size: 14px;	
}



#sidebar #feedemail,
#sidebar #feedrss,
#sidebar #followme{
	font-size:16px;
	}

#caption {
	padding:25px 30px 21px !important;
	padding:25px 30px 20px;
}
#cmtswitcher #trackbacktab {
	padding:6px 10px;
}
#cmtswitcher #commenttab {
	padding:6px 10px;
}